{% include "base.html" with page_title=object.name %}

{% block container %}
    {% load martortags %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ step }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Создатель шага</dt>
                    <dd class="col-sm-9">
                        {% if object.creator_id %}
                            <a href="{% url 'profile-detail' pk=object.creator_id %}">{{ object.creator|default_if_none:"&#10060" }}</a>
                        {% else %}
                            {{ object.creator|default_if_none:"&#10060" }}
                        {% endif %}
                    </dd>
                </dl>
                <a href="{% url 'lesson-detail' object.lesson.pk %}" class="btn btn-success">К занятию</a>
            </div>
        {% if object.graph %}
            {% include object.graph.get_absolute_file_upload_url %}
        {% endif %}
        </div>
    {{ object.data|safe_markdown }}
    </div>

{% endblock %}
