{% extends "base.html" %}

{% block container %}
    <div class="container mt-4">
        {% if form.errors %}
          <p>Пара логин/пароль не подходит. Пожалуйста, попробуйте снова</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Недостаточно прав для доступа к этой странице.
            Пожалуйста, войдите в свой аккаунт</p>
          {% else %}
            <p>Пожалуйста, войдите в свой аккаунт.</p>
          {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="password">
                </div>
            </div>

        <input type="submit" value="Войти" class="btn btn-primary"/>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>


{% endblock %}