{% include "base.html" with page_title=object.name %}

{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ object }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Автор решения</dt>
                    <dd class="col-sm-9">
                        {% if object.creator_id %}
                            <a href="{% url 'profile-detail' pk=object.creator_id %}">{{ object.creator|default_if_none:"&#10060" }}</a>
                        {% else %}
                            {{ object.creator|default_if_none:"&#10060" }}
                        {% endif %}
                    </dd>
                    {% if object.last_editor_id %}
                    <dt class="col-sm-3">Проверил</dt>
                        <dd class="col-sm-9">
                            <a href="{% url 'profile-detail' pk=object.last_editor_id %}">{{ object.last_editor|default_if_none:"&#10060" }}</a>
                        </dd>
                    {% endif %}
                    <dt class="col-sm-3">Оценка</dt>
                    <dd class="col-sm-9">{{ object.mark|default_if_none:"Не выставлена" }}</dd>
                    <dt class="col-sm-3">Решение</dt>
                    <dd class="col-sm-9">{{ object.description|default_if_none:"&#10060" }}</dd>
                </dl>
                <a href="{% url 'task-detail' object.task.pk %}" class="btn btn-primary">К заданию</a>
                {% if can_edit %}
                    <a href="{% url 'homework-update' object.pk %}" class="btn btn-warning">Оценить</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
