{% include "base.html" with page_title=course.name %}

{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ lesson }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Создатель урока</dt>
                    <dd class="col-sm-9">
                        {% if lesson.creator_id %}
                            <a href="{% url 'profile-detail' pk=lesson.creator_id %}">{{ lesson.creator|default_if_none:"&#10060" }}</a>
                        {% else %}
                            {{ lesson.creator|default_if_none:"&#10060" }}
                        {% endif %}
                    </dd>
                    <dt class="col-sm-3">Описание</dt>
                    <dd class="col-sm-9">{{ lesson.description|default_if_none:"&#10060" }}</dd>
                    <a href="{% url 'course-detail' lesson.course.pk %}" class="btn btn-primary">К курсу</a>
                    {% if can_edit %}
                        <a href="{% url 'lesson-update' lesson.pk %}" class="btn btn-success">Редактировать</a>
                        <a href="{% url 'step-create' lesson.pk %}" class="btn btn-success">Добавить шаг</a>
                    {% endif %}
                </dl>
            </div>
        </div>
        {% load render_table from django_tables2 %}
        <h1>Все шаги:</h1>
        {% render_table table %}
    </div>

{% endblock %}
