{% include "base.html" with page_title='Курсы' %}

{% block container %}
    <div class="container mt-4">
        {% load render_table from django_tables2 %}
        {% if can_edit %}
            <div class="btn">
                <a href="{% url 'course-create' %}" class="button">Создать</a>
            </div>
        {% endif %}
        {% render_table table %}
    </div>
{% endblock %}
{% block custom_js %}
    <style>
        .btn {
            margin-bottom: 30px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn .button {
            width: 145px;
            height: 45px;
            background: #d295bf;
            border: none;
            outline: none;
            border-radius: 20px;
            color: white;
            font-size: 18px;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            outline: none;
            text-decoration: none;
        }
    </style>

{% endblock %}
