{% include "base.html" with page_title=profile %}
{% block container %}
    <div class="container mt-4">
        <h1>Анкета пользователя</h1>
        <div class="container-card text-center">
            <div class="row">
                <div class="col-6 col-sm-3">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" alt="Фото не загружено"
                                                     class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-6 col-md-4">
                    <div class="output-box">
                        <input type="text" class="about-p" placeholder="{{ profile.surname }}" readonly>
                        <input type="text" class="about-p" placeholder="{{ profile.name }}" readonly>
                        <input type="text" class="about-p" placeholder="{{ profile.patronymic|default_if_none:"" }}" readonly>
                    </div>
                    {% if is_profile_staff %}
                        <p class="text-p">Сотрудник</p>
                    {% else %}
                        <p class="text-p">Пользователь</p>
                    {% endif %}
                    <p class="text">{{ profile.bio|default_if_none:"&#10060" }}</p>
                </div>
                 <div class="col-6 col-md-4">
                    {% if profile.id == user.profile.id or user.is_superuser %}
                        <div class="btn"> <a href="{% url 'profile-update' profile.id %}" class="button">Редактировать</a></div>
                    {% else %}
                        <div class="btn"> <a href="{% url 'profile-update' profile.id %}" class="button">Редактировать</a></div>
                    {% endif %}
                    {% if profile.id == user.profile.id %}
                        <div class="btn"><a href="{% url 'password_change' %}" class="button ">Смена пароля</a></div>
                        <div class="btn"><a href="{% url 'logout' %}" class="button">Выйти</a></div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <style>
        .container-card {
            padding: 20px 20px;
            color: white;
            background: #7e52a0;
            width: 1000px;
            border-radius: 20px;
        }
        .img-fluid {
            border: 5px solid #d295bf;
        }
        .output-box input {
            width: 70%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 3px solid #d295bf;
            font-size: 18px;
        }
        .output-box input::placeholder {
            color: white;
        }
        .about-p {
            padding-top: 10px;
        }
        .text-p {
            padding-top: 15px;
            font-size: 18px;
            color: #d295bf;
        }
        .btn {
            margin-bottom: 30px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn .button {
            width: 60%;
            height: 45px;
            background: #d295bf;
            border: none;
            outline: none;
            border-radius: 20px;
            color: white;
            font-size: 18px;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            outline: none;
            text-decoration: none;
        }
    </style>
{% endblock %}